* {
    padding: 0px;
    margin: 0px;
    font-family: 'Oswald', sans-serif;
    font-size: 16px;
    color: #616161;
    font-weight: 200;
    color: white;
}

body {
    background-color: black;
    font
}